@charset "utf-8";

*{
    min-height: 100%;
}
h1{
    text-align: center;
    box-shadow: 5px 5px 5px;
    border-radius: 10px 15px 10px;
    background-color: rgb(114, 114, 114);
}
img{

    border-radius: 15px 15px 15px;
    background-color: black;
    border: 3px solid black;
}
h2{
    text-align: center;
}
p{
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
body{
    background-color: rgba(78,229,186,0.8);
}
a{
    text-decoration: none;
    background-color:BLACK;
    border:  2px solid red;
    font-size: x-large;
    color: white;

}
#img1{
    display: flex;
    justify-content: center;
}
#img2{
    display: flex;
    justify-content: center;
}
#img3{
    display: flex;
    justify-content: center;
}
#img4{
    display: flex;
    justify-content: center;
}
#img5{
    display: flex;
    justify-content: center;
}#img6{
    display: flex;
    justify-content: center;

}