body{
    background-color: rgba(78, 229, 186, 0.8);
}

#milhas {
    text-align: right;
    margin-right: 60%;
}

#milhasimg {
    float: right;
}

h1 {
    text-align: center;
    margin-left: auto;
    font-size: xx-large;
    background-color: white;
    border: solid 1px black;
}   


h2{
    text-align: center;
    margin-left: auto;
    font-size: xx-large;
    background-color: white;
    border: solid 1px black;

}

p{
    margin-left: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 0, 0);
}

h3{
    text-align: center;
    margin-left: auto;
    font-size: xx-large;
    background-color: white;
    border: solid 1px black;

}


ol{
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h6{
    text-align: center;
    font-size: x-large;
    background-color: white;
    border: solid 1px black;
}
   
a{
    color: white;
    text-decoration: none;
    background-color:BLACK;

    border:  2px solid red;
    font-size: x-large;


}
#img123{
    display: flex;
    justify-content: center;
}
#img12345{
    display: flex;
    justify-content: center;
}
#if12345432{
    display: flex;
    justify-content: center;
}