@charset "utf-8";

*{
    min-height: 25%;
}
body{
    background-color: rgba(78,229,186,0.8);
}
h1{
    background-color:#596eaa ;
    border-radius: 15px;
    box-shadow: 3px 3px 5px;
    text-align: center;
}
h2{
    text-align: center;
    border: 3px solid rgb(237, 57, 57);
}
p{
    font-size: large;
}
a{
    text-decoration: none;
    color: black;
}
